<div ng-controller="documentCreateCtrl" class='container'>
    <h2>Create Document</h2> 
    <div class="form-horizontal">
        <legend>Enter Document Info</legend>
        <div class="form-group">
            <input type="file" file-model="myFile" class="col-sm-offset-2 col-sm-10" />
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Document Name:</label>
            <input type="text" name="name" ng-model="model.document.name" size="50">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Scanned:</label>
            <input type="checkbox" name="scanned" ng-model="model.document.scanned">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <input type="text" name="description" ng-model="model.document.description" size="50">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Coloured:</label>
            <input type="checkbox" name="coloured" ng-model="model.document.coloured">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Signed:</label>
            <input type="checkbox" name="signed" ng-model="model.document.signed">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="model.temp.showSuccessMessage" ng-click="uploadFile(model)" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <div>
        <div class="alert alert-danger" ng-show="model.temp.showErrorMessage">
            <strong>Error!</strong> {{model.temp.errorMessage}}
        </div>
        <div class="alert alert-success" ng-show="model.temp.showSuccessMessage">
            <strong>Success!</strong> Document saved Successfully!!!
        </div>
    </div>
</div>