<h2>Create Document</h2>
<div ng-controller="documentCreateCtrl">
    <fieldset>
        <legend>Enter Document Info</legend>
        <div>
            <label>Document Name:</label>
            <input type="text" name="name" ng-model="document.name" size="39">
        </div>
        <div>
            <label>Scanned:</label>
            <input type="checkbox" name="scanned" ng-model="document.scanned">
        </div>
        <div>
            <label>Description:</label>
            <input type="text" name="description" ng-model="document.description">
        </div>
        <div>
            <label>Coloured:</label>
            <input type="checkbox" name="coloured" ng-model="document.coloured">
        </div>
        <div>
            <label>Signed:</label>
            <input type="checkbox" name="signed" ng-model="document.signed">
        </div>
        <div>
            <label>File:</label>
            <input type="file" file-model="myFile" />
        </div>
        <div ng-show="{{showSuccessMessage}}">Document saved Successfully!!!</div>
        <div ng-show="{{showErrorMessage}}">{{errorMessage}}</div>
        <div>{name:'{{name}}', description:'{{description}}', scanned:{{scanned}}, coloured:{{coloured}}, signed:{{signed}}}</div>

        <button ng-click="uploadFile()" class="btn btn-primary">Save</button>
    </fieldset>

</div>